<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="SecUrl" value="http://localhost:49521/CPanel/"/>
    <add key="CPanelGridPaging" value="10,25,50,75,100|50|1000" />
    <add key="CPPageSize" value="10"/>
  </appSettings>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=DESKTOP-S5QCG3I\SQLEXPRESS;Initial Catalog=Food1;Integrated Security=True;Connect Timeout=600" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

